# All files, default reviewers:

# Serverless and related code requires review from the serverless team:
/vastai/serverless/                 @vast-ai/serverless
/vastai/api/deployments.py          @vast-ai/serverless
/vastai/api/endpoints.py            @vast-ai/serverless
/vastai/data/deployment.py          @vast-ai/serverless
/vastai/data/endpoint.py            @vast-ai/serverless
/vastai/data/workergroup.py         @vast-ai/serverless
/vastai/cli/commands/endpoints.py   @vast-ai/serverless
/vastai/cli/commands/deployments.py @vast-ai/serverless
/tests/serverless/                  @vast-ai/serverless
