openapi: 3.0.0
info:
  title: Create Team Role API
  description: Creates a new role for a team
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/team/roles/:
    post:
      summary: create team role
      description: |
        Creates a new role within a team. Only team owners or managers with the appropriate permissions can perform this operation.

        CLI Usage: `vastai create team role --name <role_name> --permissions <permissions_json>`
      security:
      - BearerAuth: []
      tags:
      - Team
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - permissions
              properties:
                name:
                  type: string
                  description: Name for the new role
                  example: developer
                permissions:
                  type: object
                  description: JSON object containing permission definitions
                  properties:
                    api:
                      type: object
                      description: API permissions
                      allOf:
                        - title: User Read
                          type: object
                          properties:
                            user_read:
                              type: object
                              description: Permission to read user info
                              default: {}
                            instance_write:
                              type: object
                              description: Permission to write instances
                              default: {}
      responses:
        '200':
          description: Role created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  msg:
                    type: string
                    example: Missing permissions parameter
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - User lacks permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: unauthorized
        msg:
          type: string
          example: Unauthorized access
x-cli-commands:
- name: create team role
  description: Create a new role within your team
  endpoint: /api/v0/team/roles/
  method: POST
  example: vastai create team role --name <role_name> --permissions <permissions_json>