openapi: 3.0.0
info:
  title: Detach SSH Key API
  description: API endpoint to detach an SSH key from an instance
  version: 1.0.0
servers:
  - url: https://console.vast.ai
    description: Production server
paths:
  /api/v0/instances/{id}/ssh/{key}/:
    delete:
      summary: detach ssh-key
      description: |
        Detaches an SSH key from a specified instance, removing SSH access for
        that key.
        
        
        CLI Usage: vastai detach <instance_id> <ssh_key_id>

        Example: vastai detach 99999 12345
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the instance to detach the SSH key from
          schema:
            type: integer
            example: 99999
        - name: key
          in: path
          required: true
          description: Numeric ID of the SSH key to detach
          schema:
            type: integer
            example: 12345
      responses:
        '200':
          description: SSH key successfully detached
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: SSH key removed from instance.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    enum:
                      - invalid_request
                  msg:
                    type: string
                    example: Invalid request parameters
        '404':
          description: Instance or SSH key not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    enum:
                      - no_such_instance
                      - no_such_ssh_key
                  msg:
                    type: string
                    example: Instance not found.
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=2.0
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: delete_ssh_from_instance
                  msg:
                    type: string
                    example: Error deleting SSH key from instance
      tags:
        - Instances
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
x-rate-limit:
  threshold: 2.0
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
  - name: detach
    description: Detach an SSH key from an instance
    endpoint: /api/v0/instances/{id}/ssh/{key}/
    method: DELETE
    example: vastai detach 99999 12345