openapi: 3.0.0
info:
  title: Get Endpoint Logs API
  description: Retrieve logs for a specific endpoint
  version: 1.0.0
paths:
  /get_endpoint_logs/:
    post:
      servers:
      - url: https://run.vast.ai
        description: Production server
      summary: get endpoint logs
      description: |
        Retrieves logs for a specific endpoint by name.

        CLI Usage: `vastai get endpoint logs <endpoint_name> [--tail <num_lines>]`
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - endpoint
              properties:
                endpoint:
                  type: string
                  description: Name of the endpoint
                  example: vLLM-Qwen3-8B
                tail:
                  type: integer
                  description: Number of log lines to retrieve from the end
                  default: 10000
                  example: 1000
      responses:
        '200':
          description: Successfully retrieved endpoint logs.
          content:
            application/json:
              schema:
                oneOf:
                - title: Success - Logs Retrieved
                  type: object
                  properties:
                    logs:
                      type: string
                      description: The endpoint logs
                      example: "2023-10-01 12:00:00 - Worker started\n2023-10-01 12:01:00 - Request processed"
                - title: Error Response
                  type: string
                  description: Error message when endpoint not found or authentication fails
                  example: "authenticate_endpoint_apikey: invalid api_key or endpoint vLLM-Qwen3-8B not found"
      tags:
      - Serverless
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
x-cli-commands:
- name: get endpoint logs
  description: Retrieve logs for a specific endpoint
  endpoint: /get_endpoint_logs/
  method: POST
  example: 'curl -X POST https://run.vast.ai/get_endpoint_logs/ -H "Authorization: Bearer YOUR_API_KEY" -H "Content-Type: application/json" -d ''{"endpoint": "your_endpoint_name", "tail": 1000}'''