openapi: 3.0.0
info:
  title: Get Workergroup Workers API
  description: Monitor and retrieve the current status of workers for a specific workergroup
  version: 1.0.0
paths:
  /get_workergroup_workers/:
    post:
      servers:
      - url: https://run.vast.ai
        description: Production server
      summary: get workergroup workers
      description: |
        Retrieves the current list and status of workers for a specific workergroup.
        Useful for monitoring, debugging connectivity issues, and understanding resource usage within a workergroup.

        CLI Usage: `vastai get workergroup workers <id>`
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: integer
                  description: ID of the workergroup to monitor
                  default: 12345
                  example: 12345
                  minimum: 1
      responses:
        '200':
          description: Workers successfully retrieved.
          content:
            application/json:
              schema:
                oneOf:
                - title: Success - Workers Retrieved
                  type: object
                  properties:
                    workers:
                      type: array
                      description: List of workers in this workergroup
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: Workergroup instance ID
                            example: 67890
                          status:
                            type: string
                            description: Current worker status
                            example: "running"
                          url:
                            type: string
                            description: Worker instance URL
                            example: "http://192.168.1.10:8000"
                          created_at:
                            type: string
                            description: When the worker was created
                            example: "2023-10-01T12:00:00Z"
                - title: Error Response
                  type: string
                  description: Error message when workergroup not found or authentication fails
                  example: "authenticate_workergroup_apikey: invalid api_key or workergroup 12345 not found"
      tags:
      - Serverless
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
x-cli-commands:
- name: get workergroup workers
  description: Monitor workers for a specific workergroup
  endpoint: /get_workergroup_workers/
  method: POST
  example: 'curl -X POST https://run.vast.ai/get_workergroup_workers/ -H "Authorization: Bearer YOUR_API_KEY" -H "Content-Type: application/json" -d ''{"id": 12345}'''