openapi: 3.0.0
info:
  title: Instance Management API
  description: |
    API endpoint for managing instance state and labels. 
    Supports starting/stopping instances and setting labels.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/{id}/:
    put:
      summary: manage instance
      description: |
        Manage instance state and labels. The operation is determined by the request body parameters.
        
        CLI Usage:
        - To stop: vastai stop instance <ID>
        - To start: vastai start instance <ID>
        - To label: vastai label instance <ID> <label>
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the instance to modify
        example: 1234
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: At least one of these parameters should be provided
              properties:
                state:
                  type: string
                  description: Change instance state (optional)
                  enum: [stopped, running]
                  example: stopped
                label:
                  type: string
                  description: Text label to assign to the instance (optional)
                  maxLength: 1024
                  example: My ML Training Job
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleBooleanSuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=1.0
      tags:
      - Instances
components:
  schemas:
    SimpleBooleanSuccessResponse:
        type: object
        properties:
          success:
            type: boolean
            example: true
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          enum: [missing_billing, label_too_long, no_such_instance]
        msg:
          type: string
x-rate-limit:
  threshold: 1.0
  per: request
x-cli-commands:
- name: stop instance
  description: Stop a running instance
  example: vastai stop instance 1234
- name: start instance
  description: Start a stopped instance
  example: vastai start instance 1234
- name: label instance
  description: Set a text label on an instance
  example: vastai label instance 1234 "My ML Training Job"
