openapi: 3.0.0
info:
  title: Vast.ai API
  description: API for managing machines and instances on Vast.ai platform.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machines/{machine_id}/defjob/:
    delete:
      summary: remove defjob
      description: |
        Deletes the default job (background instances) for a specified machine.

        CLI Usage: `vastai remove defjob <machine_id>`
      security:
      - BearerAuth: []
      parameters:
      - name: machine_id
        in: path
        required: true
        description: ID of the machine to remove the default job from.
        schema:
          type: integer
          example: 12345
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  machine_id:
                    type: integer
                    example: 12345
                  user_id:
                    type: integer
                    example: 67890
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=1.2
      tags:
      - Machines
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        msg:
          type: string
x-rate-limit:
  threshold: 1.2
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: remove defjob
  description: Delete default jobs for a machine.
  endpoint: /api/v0/machines/{machine_id}/defjob
  method: DELETE
  example: vast-ai remove defjob 12345
