openapi: 3.0.0
info:
  title: Vast.ai API
  description: API for managing Vast.ai resources, including resetting API keys.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/commands/reset_apikey/:
    put:
      summary: reset api key
      description: 'Resets the API key for the authenticated user. This operation
        generates a new API key and invalidates the old one.


        CLI Usage: vast-ai reset api-key

        '
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - client_id
              properties:
                client_id:
                  type: string
                  description: The ID of the client whose API key is being reset.
                  example: me
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent:
                    type: boolean
                    example: true
                  key:
                    type: string
                    description: The new API key.
                    example: new_api_key_value
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=3.0
      tags:
      - Accounts
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        msg:
          type: string
x-rate-limit:
  threshold: 3
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: reset api-key
  description: Resets the API key for the authenticated user.
  endpoint: /api/v0/commands/reset_apikey/
  method: PUT
  example: vast-ai reset api-key
