openapi: 3.0.0
info:
  title: Route Endpoint API
  description: Route endpoint calls on the autoscaler to retrieve a GPU instance address for your request
  version: 1.0.0
paths:
  /route/:
    post:
      servers:
      - url: https://run.vast.ai
        description: Autoscaler server
      summary: route
      description: 'Calls on the autoscaler to retrieve a GPU instance address within your endpoint for processing a request.


        The autoscaler will return either a ready worker URL or status information if no workers are available.

        '
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - endpoint
              - cost
              properties:
                endpoint:
                  type: string
                  description: Name of the endpoint
                  example: your_endpoint_name
                cost:
                  type: number
                  format: float
                  description: The estimated compute resources for the request
                  default: 100.0
                  example: 242.0
                  minimum: 0
      responses:
        '200':
          description: Success response - either worker assignment or status
          content:
            application/json:
              schema:
                oneOf:
                - title: Worker Available
                  type: object
                  properties:
                    endpoint:
                      type: string
                      description: Same as the input parameter
                      example: your_endpoint_name
                    url:
                      type: string
                      description: The address of the worker instance to send the request to
                      example: http://192.168.1.10:8000
                    cost:
                      type: number
                      description: Same as the input parameter
                      example: 242.0
                    reqnum:
                      type: integer
                      description: Request number corresponding to this worker instance
                      example: 12345
                    signature:
                      type: string
                      description: Cryptographic signature authenticating the response
                      example: a1b2c3d4e5f60708090a0b0c0d0e0f101112131415161718191a1b1c1d1e1f20
                    __request_id:
                      type: string
                      description: Unique identifier generated by the server for this request
                      example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                - title: No Worker Available
                  type: object
                  properties:
                    endpoint:
                      type: string
                      description: Same as the input parameter
                      example: your_endpoint_name
                    status:
                      type: string
                      description: Breakdown of workers in your endpoint group by status
                      example: Stopped
                    __request_id:
                      type: string
                      description: Unique identifier generated by the server for this request
                      example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
        '401':
          description: Unauthorized - authentication failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Authentication failed
        '400':
          description: Bad Request - invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid endpoint or missing required parameters
      tags:
      - Serverless
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
x-cli-commands:
- name: route request
  description: Get a worker URL for your endpoint request
  endpoint: /route/
  method: POST
  example: 'curl -X POST https://run.vast.ai/route/ -H "Authorization: Bearer YOUR_API_KEY" -H "Content-Type: application/json" -d ''{"endpoint": "your_endpoint_name", "cost": 242.0}'''