openapi: 3.0.0
info:
  title: Vast.ai Search Network Volumes API
  description: 'API endpoint to search and retrieve network volume offers based on specified
    filters.

    Supports advanced querying with operators: - Equality: `field=value` or `field
    eq value` - Inequality: `field!=value` or `field neq value` - Greater than: `field>value`
    or `field gt value` - Less than: `field<value` or `field lt value` - Greater/equal:
    `field>=value` or `field gte value` - Less/equal: `field<=value` or `field lte
    value` - In list: `field in [val1,val2,...]` - Not in list: `field nin [val1,val2,...]`

    Example queries: ``` reliability > 0.99 num_gpus>=4 gpu_name=RTX_3090 driver_version>=470
    cuda_vers>=11.0 gpu_ram>=10000 geolocation in [TW,SE] gpu_name in [RTX_3090,RTX_4090]
    ```'
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/network_volumes/search/:
    post:
      summary: search network volumes
      description: 'Search for available GPU machine offers with advanced filtering
        and sorting.

        CLI Usage: ``` vast search network-volumes --order=storage_cost ''reliability > 0.99 geolocation in [US, CA]''```
        '
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: object
                  properties:
                    verified:
                      type: object
                      description: Display offers where all machines in cluster are verified
                      example:
                        eq: true
                    order:
                      type: array
                      items:
                        type: array
                        items:
                          type: string
                      description: Sort fields and directions
                      example:
                      - - storage_cost
                        - asc
                    limit:
                      type: integer
                      description: Max results to return
                    reliability2:
                      type: object
                      description: Cluster reliability score (0-1)
                      example:
                        gt: 0.98
                    inet_down:
                      type: object
                      description: Download bandwidth (MB/s)
                      example:
                        gt: 100.0
                    inet_up:
                      type: object
                      description: Upload bandwidth (MB/s)
                      example:
                        gt: 100.0
                    geolocation:
                      type: object
                      description: Cluster location (two letter country code)
                      example:
                        in:
                        - TW
                        - SE
                    disk_bw:
                      type: object
                      description: Disk read bandwidth in MB/s
                      example:
                        gt: 500
                    duration:
                      type: object
                      description: Maximum rental duration in days
                      example:
                        gte: 30
                    storage_cost:
                      type: object
                      description: Storage cost in $/GB/month
                      example:
                        lte: 0.1
      responses:
        '200':
          description: Successful search response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  offers:
                    type: array
                    items:
                      type: object
                      properties:
                        ask_contract_id:
                          type: integer
                          description: Unique offer ID
                        disk_space:
                          type: number
                          description: Storage space in GB
                        inet_up:
                          type: number
                          description: Upload bandwidth (MB/s)
                        inet_down:
                          type: number
                          description: Download bandwidth (MB/s)
                        reliability2:
                          type: number
                          description: Cluster reliability score (0-1)
                        verified:
                          type: boolean
                          description: Cluster verification status
                        geolocation:
                          type: string
                          description: Geographic location
                        nw_disk_avg_bw:
                          type: integer
                          description: Average read bw of network disk from machines in cluster
                        nw_disk_max_bw:
                          type: integer
                          description: Max read bw of network disk from machines in cluster
                        nw_disk_min_bw:
                          type: integer
                          description: Min read bw of network disk from machines in cluster
                        start_date:
                          type: number
                          description: start date of offer, in epoch time
                        end_date:
                          type: number
                          description: end date of offer, in epoch time
                        storage_cost:
                          type: number
                          description: storage cost in $/GB/month
                        storage_cost_total:
                          type: number
                          description: total storage cost per hour for rented space

        '400':
          description: Bad request - invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Network Volumes
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      required:
      - success
      - error
      - msg
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: Error code
          example: invalid_query
        msg:
          type: string
          description: Human readable error message
          example: Invalid query parameters
x-rate-limit:
  requests: 10
  per: minute
  description: Rate limit per IP address
