openapi: 3.0.0
info:
  title: Vast.ai Show Invoices API
  description: API endpoint to search and retrieve filtered invoices (payment records).
  version: 1.0.0

servers:
  - url: https://console.vast.ai
    description: Production server

paths:
  /api/v1/invoices/:
    get:
      summary: show invoices
      description: |
        Returns paginated invoice/payment records (Stripe top-ups, transfers, payouts, coinbase, etc.). For per-instance cost breakdowns, use [`GET /api/v0/charges/`](#tag/Billing/GET/api/v0/charges/) instead.

        CLI Usage: `vastai show invoices-v1 --invoices` (the CLI command `show invoices-v1` wraps both this endpoint and `/api/v0/charges/`; the `--invoices` flag selects this one.)
      security:
        - BearerAuth: []
      parameters:
        - name: select_filters
          in: query
          required: true
          description: |
            Filter object (JSON-stringified and URL-encoded in the query string). **Must** include a `when` date range; optionally narrows by `service`.

            **`when`** (required) — invoice date range in unix seconds (UTC). Both a start and end bound are required.

            Supported operators:
            - `gte` / `gt` — start of range
            - `lte` / `lt` — end of range

            **`service`** (optional) — filter by payment service.

            Supported values:
            - `transfer`
            - `stripe_payments`
            - `bitpay`
            - `coinbase`
            - `crypto.com`
            - `instance_prepay`
            - `paypal_manual`
            - `wise_manual`

            Supported operators:
            - `in` — include only these services
            - `notin` — exclude these services
            - `eq` — match a single service

            **Note**: if the `when` range is missing or malformed, the endpoint returns HTTP 200 with `success: false` and `error: "Invalid date range"` — not HTTP 400.

            **Examples**:
            ```json
            // January 2026, all services
            {"when":{"gte":1767225600,"lte":1769903999}}

            // January 2026, only PayPal and Wise payouts
            {"when":{"gte":1767225600,"lte":1769903999},"service":{"in":["paypal_manual","wise_manual"]}}

            // January 2026, everything except crypto
            {"when":{"gte":1767225600,"lte":1769903999},"service":{"notin":["bitpay","coinbase","crypto.com"]}}
            ```
          schema:
            type: string
          example: '{"when":{"gte":1767225600,"lte":1769903999}}'
        - name: order_by
          in: query
          required: false
          description: |
            JSON array of sort directives. Supported columns: `paid_on`, `amount_cents`, `when`. `dir` may be `asc` or `desc` (default `desc`).
            Example: `[{"col":"when","dir":"asc"}]` sorts by oldest invoice first.
          schema:
            type: string
          example: '[{"col":"paid_on","dir":"desc"}]'
        - name: latest_first
          in: query
          required: false
          description: Sort newest invoices first. Equivalent to `order_by=[{"col":"paid_on","dir":"desc"}]`.
          schema:
            type: boolean
            default: true
          example: true
        - name: limit
          in: query
          required: false
          description: Max results per page. Default 60.
          schema:
            type: integer
            minimum: 1
            default: 60
          example: 60
        - name: after_token
          in: query
          required: false
          description: Keyset pagination cursor from the previous response's `next_token`. Invalid tokens return a 400 error.
          schema:
            type: string
          example: eyJ2YWx1ZXMiOiB7ImlkIjogMjY3MjU5N30sICJvc19wYWdlIjogMH0=
      responses:
        '200':
          description: |
            Paginated invoice results. Note: a missing or invalid `when` range is also returned as HTTP 200 with `success: false` and an `error` field (see example below).
          content:
            application/json:
              examples:
                success:
                  summary: Paginated results
                  value:
                    success: true
                    count: 2
                    total: 42
                    results:
                      - start: 1762149123.0
                        end: null
                        type: transfer
                        source: sender@vast.ai
                        description: Received Credit from sender@vast.ai
                        amount: 35.5
                        metadata:
                          invoice_id: 4829137
                          service: transfer
                          sender: 123456
                          recipient: 789012
                        items: []
                      - start: 1761980044.0
                        end: 1761980301.0
                        type: credit
                        source: stripe
                        description: Manual billing from VISA ending in 4412
                        amount: -19.99
                        metadata:
                          invoice_id: 4828771
                          service: stripe_payments
                          last4: "4412"
                          network: visa
                          transfer_group: pi_3TAbCdEfgHiJkLmN
                        items: []
                    next_token: eyJ2YWx1ZXMiOiB7ImlkIjogMjE4OTM4N30sICJvc19wYWdlIjogMH0=
                invalid_date_range:
                  summary: Missing or malformed `when` range (still HTTP 200)
                  value:
                    success: false
                    error: Invalid date range
                    count: 0
                    total: 0
                    results: []
                    next_token: null
        '400':
          description: Invalid request — e.g. malformed `after_token` pagination cursor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: invalid_token
                msg: Invalid pagination token
        '401':
          description: Unauthorized. May be returned in framework-level authentication failure cases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. Returned when no `Authorization` header is provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: auth_error
                msg: This action requires login.
        '404':
          description: Not Found. Returned when the supplied API key does not match any user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: auth_error
                msg: Invalid user key
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=2.0
      tags:
        - Billing

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key provided via Authorization header

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: Short error code. Observed values include `auth_error`, `invalid_token`, and `Invalid date range`.
          example: auth_error
        msg:
          type: string
          example: This action requires login.

x-rate-limit:
  threshold: 2.0
  per: request
  description: Maximum request frequency per IP address

x-cli-commands:
  - name: show invoices-v1
    description: Show invoices within a required date range.
    endpoint: /api/v1/invoices/
    method: get
    example: |
      vastai show invoices-v1 --invoices --start-date 2025-11-01 --end-date 2025-11-30
