openapi: 3.0.0
info:
  title: Vast.ai API - Show API Keys
  description: Retrieve all API keys associated with the authenticated user
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/auth/apikeys/:
    get:
      summary: show api keys
      description: 'Retrieves all API keys associated with the authenticated user.


        CLI Usage: vastai show api-keys

        '
      security:
      - BearerAuth: []
      responses:
        '200':
          description: API keys successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  apikeys:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 123
                        user_id:
                          type: integer
                          example: 456
                        key:
                          type: string
                          example: your-api-key-value
                        rights:
                          type: string
                          example: read
                        team_id:
                          type: integer
                          example: 789
                        team_name:
                          type: string
                          example: Team Alpha
        '400':
          description: Bad Request - API Key not provided or not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: API Key not provided as bearer token.
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=1.0
      tags:
      - Accounts
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: unauthorized
        msg:
          type: string
          example: Authentication required
x-rate-limit:
  threshold: 1.0
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: show api-keys
  description: List all API keys associated with your account
  endpoint: /api/v0/auth/apikeys/
  method: GET
  example: vastai show api-keys
