openapi: 3.0.0
info:
  title: Vast.ai API - Show API Key
  description: Retrieve an existing API key for the authenticated user
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/auth/apikeys/{id}/:
    get:
      summary: show api key
      description: 'Retrieves an existing API key belonging to the authenticated user.


        CLI Usage: vastai show api-key ID

        '
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the API key to retrieve
        schema:
          type: integer
          minimum: 1
        example: 123
      responses:
        '200':
          description: API key successfully retrieved
          content:
            application/json:
              schema:
                type: string
                example: your-api-key-value
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - API key belongs to a different user
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: You do not have permission to access this key.
        '404':
          description: Not Found - API key does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: API Key not found.
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=1.0
      tags:
      - Accounts
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: unauthorized
        msg:
          type: string
          example: Authentication required
x-rate-limit:
  threshold: 1.0
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: show api-key
  description: Retrieve an API key
  endpoint: /api/v0/auth/apikeys/{id}/
  method: GET
  example: vastai show api-key 123
