openapi: 3.0.0
info:
  title: Vast.ai API - Subaccounts
  description: Retrieve a list of subaccounts associated with the authenticated user's
    account.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/subaccounts/:
    get:
      summary: show subaccounts
      description: 'Retrieve a list of subaccounts associated with the authenticated
        user''s account.


        CLI Usage: vast-ai show subaccounts

        '
      security:
      - BearerAuth: []
      responses:
        '200':
          description: A list of subaccounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The unique identifier of the subaccount.
                        parent_id:
                          type: integer
                          description: The ID of the parent account.
                        api_key:
                          type: string
                          description: The API key associated with the subaccount.
                        created_at:
                          type: string
                          format: date-time
                          description: The timestamp when the subaccount was created.
                        deleted_at:
                          type: string
                          format: date-time
                          nullable: true
                          description: The timestamp when the subaccount was deleted,
                            if applicable.
        '401':
          description: Unauthorized access due to invalid or missing authentication
            token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=2.1
      tags:
      - Accounts
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        msg:
          type: string
x-rate-limit:
  threshold: 2.1
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: show subaccounts
  description: Get current subaccounts
  endpoint: /api/v0/subaccounts/
  method: GET
  example: vast-ai show subaccounts
