openapi: 3.0.0
info:
  title: Vast.ai API
  version: 1.0.0
  description: API documentation for Vast.ai's instance retrieval.
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/:
    get:
      summary: show instances
      description: 'Retrieve a list of instances for the authenticated user.


        CLI Usage: vast-ai show instances [OPTIONS] [--api-key API_KEY] [--raw]

        '
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Success response with user instances
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 123
                        start_date:
                          type: number
                          format: float
                          example: 1633036800.0
                        duration:
                          type: number
                          format: float
                          example: 3600.0
                        extra_env:
                          type: object
                          additionalProperties:
                            type: string
                            example: value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=2.0
      tags:
      - Instances
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        msg:
          type: string
x-rate-limit:
  threshold: 2.0
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: show instances
  description: Display user's current instances
  endpoint: /api/v0/instances/
  method: GET
  example: vast-ai show instances [OPTIONS] [--api-key API_KEY] [--raw]
