openapi: 3.0.0
info:
  title: Vast.ai API - Unlist Machine
  description: API endpoint to unlist a machine by removing all 'ask' type offer contracts.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machines/{machine_id}/asks/:
    delete:
      summary: unlist machine
      description: |
        Removes all 'ask' type offer contracts for a specified machine, effectively unlisting it from being available for rent.

        CLI Usage: `vastai unlist machine <id>`
      security:
      - BearerAuth: []
      parameters:
      - name: machine_id
        in: path
        required: true
        description: The ID of the machine to unlist.
        schema:
          type: integer
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  machine_id:
                    type: integer
                    example: 123
                  user_id:
                    type: integer
                    example: 456
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=1.8
      tags:
      - Machines
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        msg:
          type: string
x-rate-limit:
  threshold: 1.8
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: unlist machine
  description: Unlist a machine by removing all 'ask' type offer contracts.
  endpoint: /api/v0/machines/{machine_id}/asks
  method: delete
  example: vastai unlist machine 123
