openapi: 3.0.0
info:
  title: User Secrets API
  description: API for managing user environment variables and secrets
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/secrets/:
    put:
      summary: update env var
      description: |
        Updates the value of an existing environment variable for the authenticated user.

        CLI Usage: `vastai update env-var <key> <value>`
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - value
              properties:
                key:
                  type: string
                  description: The key of the environment variable to update (will
                    be converted to uppercase)
                  example: MY_API_KEY
                  pattern: ^[a-zA-Z_]\w*$
                value:
                  type: string
                  description: The new value for the environment variable
                  example: xyz123
      responses:
        '200':
          description: Environment variable updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: Environment variable updated successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                properties:
                  error:
                    type: string
                    enum:
                    - missing_input
                    - empty_input
                    - input_too_long
                    - invalid_characters
                    - nonexistent_key
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=3.0
      tags:
      - Accounts
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        msg:
          type: string
x-rate-limit:
  threshold: 3.0
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-input-validation:
  key:
    max_length: MAX_SECRET_KEY_INPUT_LENGTH
    pattern: ^[a-zA-Z_]\w*$
    description: Must start with letter or underscore, followed by alphanumeric characters
  value:
    max_length: MAX_SECRET_VALUE_INPUT_LENGTH
    pattern: TOKEN_REGEX
    description: Must match the allowed token pattern
x-cli-commands:
- name: set env-var
  description: Update an existing user environment variable
  endpoint: /api/v0/secrets/
  method: PUT
  example: vast-ai set env-var MY_API_KEY xyz123
